* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}
:root {
  --primary-color: rgb(255, 255, 255);
  --shadow: #00000024;
  --text-color: #0c0c0c;
  --blue-color: #0062c4;
  --card-color: rgba(247, 247, 247, 0.018);
}
.dark-theme {
  --primary-color: #121212;
  --shadow: #b7b7b70d;
  --text-color: rgb(250 250 250 / 87%);
  --card-color: rgb(255, 255, 255);
}
html {
  scroll-behavior: smooth;
}
.icons {
  position: relative;
  background-color: transparent;
  width: 34px;
  box-shadow: 0 0 6px 0px var(--shadow);
  height: 34px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.icons .moon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.icons .moon:hover {
  font-size: 24px;
}
.icons .sun-icon {
  cursor: pointer;
  display: none;
  color: white;
  font-size: 20px;
  transition: 0.4s;
}
.icons .sun-icon:hover {
  font-size: 24px;
}
.icons .sun-icon.iconactiv {
  display: inline-block;
}
@font-face {
  font-family: B;
  src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: M;
  src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: R;
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: L;
  src: url(../font/Montserrat-Light.ttf);
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  cursor: none;
  mix-blend-mode: difference;
  z-index: 1000;
}
.grow {
  transform: scale(7);
}
.grow-small {
  transform: scale(3);
}
@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}
/* ------------------------------- start nav -------------------------------------------- */

.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: var(--primary-color);
  box-shadow: 0px -10px 21px 0 #000000b5;
}
.header .logo {
  padding: 10px 16px 10px 0px;
  font-family: B;
  color: var(--text-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  z-index: 10;
}
.header .container .main-nav li {
  list-style-type: none;
  position: relative;
}
.header .container .main-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: M;
  text-decoration: none;
  height: 80px;
  color: var(--text-color);
  transition: 0.6s;
}
.header .container .main-nav a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transition: 0.6s;
  text-align: center;
  transform: scale(0, 1);
  transition: ease 0.9s;
}
.header .container .main-nav a:hover::after {
  transform: scale(0.5, 1);
}
.header .container .main-nav a.active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0062c4;
  text-align: center;
  transform: scale(1.5, 1);
  transition: ease 0.8s;
}
.header .container .main-nav a.active {
  color: #0062c4;
}
.toggler {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color);
}

@media (max-width: 768px) {
  .header .container .main-nav {
    flex-direction: column;
    top: 80px;
    gap: 0;
    left: -100%;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    align-items: center;
    transition: 0.8s;
  }
  .header .container .main-nav.active {
    left: 0;
    position: absolute;
  }
  .toggler {
    display: block;
    position: absolute;
    right: 40px;
  }
  .toggler.active .bar:nth-child(2) {
    opacity: 0;
  }
  .toggler.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .toggler.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header .container .main-nav a.active::after {
    display: none;
  }
  .header .container .main-nav a {
    height: 40px;
  }
  .header .logo {
    position: absolute;
    left: 40px;
  }
  .icons {
    position: absolute;
    right: 76px;
    transform: rotateZ(-12deg);
  }
}
/* ------------------------- start landing ---------------------*/
.landing {
  background: var(--primary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dynamic-text {
  height: 24px;
  overflow: hidden;
  font-family: M;
  margin: 0px 0 20px 5px;
}
.dynamic-text li {
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -47px;
  }
}
.dynamic-text li span {
  position: relative;
  font-size: 20px;
  color: var(--text-color);
}
.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border-left: 2px solid var(--text-color);
  animation: typing 3s steps(16) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
.landing .container .info {
  opacity: 0;
  transition: 2s;
}
.landing .container .info.active {
  opacity: 1;
}

.landing .container .info a {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--text-color);
  padding: 8px 22px;
  border-radius: 12px;
  color: var(--text-color);
  text-decoration: none;
  font-family: M;
  transition: 1s;
  margin-left: 7px;
}
.landing .container .info a:hover {
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);

  color: white;
}

.landing .container .info h3 {
  margin-left: 3px;
  font-family: L;
  font-size: 40px;
  color: var(--text-color);
  position: relative;
  animation: moveimgh3 2s;
}
@keyframes moveimgh3 {
  0% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}
.landing .container .info h1 {
  text-transform: uppercase;
  font-size: 90px;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-color);
  background: url(../images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  font-family: B;
  padding-left: 200px;
  animation: back 20s linear infinite;
  transition: 2s;
}
.landing .container .info h1.active {
  padding-left: 0px;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.landing .container .info h2 {
  margin-left: 3px;
  padding: 0px 0px 10px 0px;
  font-size: 18px;
  font-family: M;
  letter-spacing: 1px;
  color: var(--text-color);
  position: relative;
}

.landing .container .info p {
  margin-left: 5px;
  color: var(--text-color);
  font-family: M;
  font-size: 14px;
  max-width: 380px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.landing .container img {
  height: 380px;
  width: 380px;
  margin-bottom: 60px;

  animation: moveimg 2s;
}

@keyframes moveimg {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .landing .container img.active {
    height: 300px;
    width: 300px;
  }
  .landing .container img {
    height: 300px;
    width: 300px;
  }
  .landing .container .info h3 {
    font-size: 24px;
  }
  .landing .container .info h1 {
    font-family: B;
    font-size: 54px;
    color: var(--primary-color);
  }
  .landing .container .info h2 {
    font-size: 16px;
  }
  .landing .container .info p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .landing .container {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .landing .container .info h2::before {
    display: none;
  }
  .landing .container img {
    height: 240px;
    width: 240px;
  }
  .landing .container .info {
    text-align: center;
    padding-bottom: 100px;
  }
  .landing .container .info h3 {
    font-size: 24px;
  }
  .landing .container .info h1 {
    font-family: B;
    font-size: 38px;
    color: var(--primary-color);
  }
  .landing .container .info h2 {
    padding: 10px 0px;
    font-size: 14px;
  }
  .landing .container .info p {
    font-size: 12px;
  }
}

/* ----------------------------- start my skills --------------------------------------- */
.my-skills {
  padding: 20px 0 0 0;
  background-color: var(--primary-color);
}
.my-skills h1 {
  text-align: center;
  padding: 80px 0;
  font-family: L;
  opacity: 0;
  color: var(--text-color);
  transform: translateY(100px);
  position: relative;
  transition: 1.4s;
}
.my-skills h1.active {
  opacity: 1;
  transform: translateY(0px);
}
.my-skills h1::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background: var(--blue-color);
  bottom: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.my-skills .container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}
.my-skills .container .box:nth-child(1) path {
  fill: #ff5c00;
}
.my-skills .container .box:nth-child(2) path {
  fill: #3347dc;
}
.my-skills .container .box:nth-child(3) path {
  fill: #f0db4f;
}
.my-skills .container .box:nth-child(4) path {
  fill: #007acc;
}
.my-skills .container .box:nth-child(5) path {
  fill: #61dafb;
  box-shadow: 0 0 10px 0 #ff000024;
}
.my-skills .container .box:nth-child(6) path {
  fill: #32c1b5;
  box-shadow: 0 0 10px 0 #00ffe024;
}
.my-skills .container .box:nth-child(7) path:nth-child(1) {
  fill: #0acf83;
}
.my-skills .container .box:nth-child(7) path:nth-child(2) {
  fill: #a259ff;
}
.my-skills .container .box:nth-child(7) path:nth-child(3) {
  fill: #f24e1e;
}
.my-skills .container .box:nth-child(7) path:nth-child(4) {
  fill: #ff7262;
}
.my-skills .container .box:nth-child(7) path:nth-child(5) {
  fill: #1abcfe;
}

.my-skills .container .box:nth-child(8) path {
  fill: #ff4d00;
}
.my-skills .container .box {
  width: 120px;
  height: 135px;
  border-radius: 18px;
  transition: 1.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.my-skills .container .box svg {
  margin-top: 16px;
}
.my-skills .container .box:nth-child(1) {
  transform: translateY(60px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #ff660024;
}
.my-skills .container .box:nth-child(1).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box:nth-child(2) {
  transform: translateY(80px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #0800ff24;
}
.my-skills .container .box:nth-child(2).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box:nth-child(3) {
  transform: translateY(100px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #ffd00024;
}
.my-skills .container .box:nth-child(3).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box:nth-child(4) {
  transform: translateY(120px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #1500ff24;
}
.my-skills .container .box:nth-child(4).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box:nth-child(5) {
  transform: translateY(140px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #00ddff24;
}
.my-skills .container .box:nth-child(5).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box:nth-child(6) {
  transform: translateY(160px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #00ffe524;
}
.my-skills .container .box:nth-child(6).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box:nth-child(7) {
  transform: translateY(180px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #8000ff24;
}
.my-skills .container .box:nth-child(7).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box:nth-child(8) {
  transform: translateY(200px);
  opacity: 0;
  box-shadow: 0 0 10px 0 #ff400024;
}
.my-skills .container .box:nth-child(8).active {
  transform: translateY(0px);
  opacity: 1;
}
.my-skills .container .box h2 {
  color: var(--text-color);
  font-family: L;
  font-size: 16px;
  margin-bottom: 12px;
}
.up {
  background-color: var(--text-color);
  padding: 8px 12px;
  position: fixed;
  bottom: 30px;
  right: -50px;
  z-index: 1000;
  color: blue;
  border-radius: 3px;
  cursor: pointer;
  font-size: 26px;
  transition: 1s;
}
.up.show {
  right: 20px;
}
@media (max-width: 992px) {
  .my-skills .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 786px) {
  .my-skills {
    padding: 80px 0 0 0px;
  }
  .my-skills .container {
    flex-wrap: wrap;
  }
  .my-skills .container .box {
    width: 80px;
    margin-top: 12px;
    width: 78px;
    height: 100px;
  }
  .my-skills .container .box .icon {
    font-size: 40px;
  }
  .my-skills .container .box:nth-child(1) .icon::after {
    width: 50px;
    height: 50px;
  }
  .my-skills .container .box:nth-child(2) .icon::after {
    width: 50px;
    height: 50px;
  }
  .my-skills .container .box:nth-child(3) .icon::after {
    width: 58px;
    height: 58px;
  }
  .my-skills .container .box:nth-child(1) {
    transform: translateY(100px);
  }
  .my-skills .container .box:nth-child(2) {
    transform: translateY(140px);
  }
  .my-skills .container .box:nth-child(3) {
    transform: translateY(160px);
  }

  .my-skills .container svg {
    width: 41px;
  }
  .my-skills .container .box h2 {
    font-size: 12px;
  }
  .up {
    padding: 4px 6px;
    font-size: 16px;
    bottom: 40px;
  }
  .up.show {
    right: 10px;
  }
}

/* --------------------------------- start my works ------------------------------------------*/
.my-works {
  padding: 100px 0px;
  background-color: var(--primary-color);
}
.category {
  gap: 60px;
  list-style-type: none;
  text-align: center;
  transform: translateY(100px);
  transition: 1.4s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category.active {
  transform: translateY(0px);
  opacity: 1;
}
.category li {
  font-family: M;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  padding: 0 5px 12px 5px;
  font-size: 24px;
  position: relative;
  transition: 0.6s;
  cursor: pointer;
}
.category li::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #67769a;
  position: absolute;
  transition: 0.6s;
  left: 0;
  transform: scale(0, 1);
  transition: ease 0.9s;
}
.category li:hover::after {
  transform: scale(0.5, 1);
}
.category li.active::after {
  content: "";
  width: 100%;
  text-align: center;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--blue-color);
  transform: scale(1.5, 1);
  transition: ease 0.8s;
}
.category li.active {
  color: var(--blue-color);
}
.my-works h3 {
  text-align: center;
  padding: 80px 0;
  font-family: L;
  position: relative;
  transition: 1.4s;
  font-size: 30px;
  transform: translateY(100px);
  opacity: 0;
  transition: 1.4s;
}
.my-works h3.active {
  color: var(--text-color);
  transform: translateY(0px);
  opacity: 1;
}
.my-works h3::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background: linear-gradient(-45deg, var(--blue-color), var(--text-color));
  bottom: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.my-works .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.my-works .container .templet {
  margin-top: 80px;
  width: 314px;
  height: 342px;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 18px 0px var(--shadow);
  opacity: 0;
  border-radius: 24px;
  overflow: hidden;
  transition: 1.4s;
}
.my-works .container .templet div {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.my-works .container .templet.act {
  display: none;
}
.my-works .container .templet:nth-child(1) {
  transform: translateY(10%);
}
.my-works .container .templet:nth-child(2) {
  transform: translateY(30%);
}
.my-works .container .templet:nth-child(3) {
  transform: translateY(60%);
}
.my-works .container .templet:nth-child(4) {
  transform: translateY(90%);
}
.my-works .container .templet:nth-child(5) {
  transform: translateY(110%);
}
.my-works .container .templet:nth-child(6) {
  transform: translateY(140%);
}
.my-works .container .templet.active {
  transform: translateY(0px);
  opacity: 1;
}

.my-works .container .templet img {
  width: 100%;
  height: 207px;
  border-radius: 24px 24px 0 0;
  transition: 0.4s;
  filter: grayscale(1);
}
.my-works .container .templet:hover img {
  filter: grayscale(0);
}
.my-works .container .templet h1 {
  font-family: R;
  font-size: 18px;
  color: var(--text-color);
  margin-top: 8px;
}
.my-works .container .templet h2 {
  font-family: L;
  font-size: 14px;
  color: var(--text-color);
}
.my-works .container .templet .view {
  text-decoration: none;
  border: 1px solid var(--text-color);
  padding: 8px 28px;
  font-family: M;
  font-size: 16px;
  background: transparent;
  border-radius: 14px;
  color: var(--text-color);
  transition: 1s;
  margin-top: 15px;
}
.my-works .container .templet:hover .view {
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: white;
}
.icon-work {
  position: absolute;
  bottom: 16px;
  color: var(--text-color);

  font-size: 29px;
  right: 16px;
}
.git {
  color: rgba(0, 0, 0, 0.868);
}
.git:hover {
  color: black;
}
@media (max-width: 750px) {
  .my-works .container {
    gap: 0px;
    flex-direction: column;
  }
  .category li {
    font-family: M;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    padding: 0 5px 12px 5px;
    font-size: 18px;
    position: relative;
    transition: 0.6s;
  }
}
/* ================================= contact me ======================================= */
.contact-me {
  padding: 200px 0 30px 0;
  position: relative;
  background-color: var(--primary-color);
}

.contact-me .container .all-contant {
  padding: 50px 50px;
  box-shadow: 0 0 8px 0px var(--shadow);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
}
.contact-me .container .contact-info {
  display: flex;
  flex-direction: column;
}
.contact-me .container .contact-info h2 {
  font-family: L;
  font-size: 20px;
}
.contact-me .container .contact-info .info {
  font-family: M;
  display: flex;
  flex-direction: column;
}
.contact-me .container .contact-info .info a {
  padding-top: 12px;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-color);
}

.contact-me .container .contact-info .info a i {
  padding-right: 8px;
  color: var(--text-color);
}
.contact-me .container .contact-form h1 {
  font-family: L;
  color: var(--text-color);
}
.contact-me .container .contact-form p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: M;
  font-size: 14px;
  color: var(--text-color);
}
.contact-me .container .contact-form form {
  font-family: M;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
.contact-me .container form div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 28px;
}
.contact-me .container form div:nth-child(3) {
  width: 100%;
}
.contact-me .container form div input,
textarea {
  outline: none;
  border: 1px solid var(--text-color);
  background-color: transparent;
  border-radius: 14px;
  padding: 14px;
  font-family: M;
  color: var(--text-color);
  font-size: 13px;
  resize: none;
}
.contact-me .container form div input:focus,
textarea:focus {
  color: white;
  font-family: M;
  font-size: 13px;
}
.contact-me .container form input[type="submit"] {
  font-family: M;
  background: linear-gradient(-45deg, var(--left-color), var(--right-color));
  padding: 12px 34px;
  border: none;
  font-size: 16px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  margin-top: 20px;
  border-radius: 14px;
  transition: 0.6s;
}
.contact-me .container form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: white;
}
.contact-me .container form div label {
  padding-top: 20px;
  padding-bottom: 10px;
  color: var(--text-color);
}

.con-social {
  display: flex;
  flex-direction: column;
  padding-top: 126px;
}
.con-social .social {
  padding-top: 8px;
}
.social a {
  padding-right: 18px;
  font-size: 30px;
  color: var(--text-color);
  transition: 0.8s;
}
.contact-me .container .contact-info .con-social h1 {
  font-size: 20px;
  font-family: L;
}
.social a:nth-child(1):hover {
  color: #ff006fad;
}
.social a:nth-child(2):hover {
  color: #2592f1ad;
}
.social a:nth-child(3):hover {
  color: #222222;
}
.social a:nth-child(4):hover {
  color: #004cff;
}
.contact-form form button {
  background-color: transparent;
  outline: none;
  border: none;
}
@media (max-width: 992px) {
  .con-social {
    padding-top: 0;
  }
  .contact-me .container .contact-info {
    flex-direction: row;
    padding-top: 66px;
    gap: 150px;
  }
}
@media (max-width: 620px) {
  .contact-me .container .contact-info {
    flex-direction: column;
    gap: 60px;
  }
  .contact-me .container {
    flex-direction: column;
  }
  .contact-me .container form div:nth-child(3) {
    width: 100%;
  }
  .contact-me .container form div {
    width: 100%;
  }
  .contact-me .container .contact-form form {
    width: 250px;
    flex-direction: column;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-me .container form div {
    padding-right: 0px;
  }
  .contact-me .container .contact-info {
    width: 250px;
    align-items: flex-start;
  }
}
/* ======================================footer========================================= */
footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
footer div h1 {
  font-size: 20px;
  font-family: L;
  color: var(--text-color);
}
footer path {
  font-size: 12px;
}
